.elementor-kit-1086{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-3c9e2a2d:#4054B2;--e-global-color-1a2704c9:#23A455;--e-global-color-7e813ead:#000;--e-global-color-1f754fc:#FFF;--e-global-color-a0cba19:#484848;--e-global-color-b7dbbf1:#020101;--e-global-color-35ac7893:#D60D2A;--e-global-color-120b2d8e:#C40731;--e-global-color-332bd817:#F90526;--e-global-color-628e04b:#404040;--e-global-color-3d96658a:#1D1D1D;--e-global-color-44ea1655:#D0D0D0;--e-global-color-10b995f2:#9B9B9B;--e-global-color-7c13668b:#000000;--e-global-color-5a40bef:#4EAEB5;--e-global-color-20108891:#3FBFFF;--e-global-color-3a5bb21d:#4F00AE;--e-global-color-3d2cbd5e:#4A3FFF;--e-global-color-7d8d76e2:#4F79CE;--e-global-color-46cc9909:#CECCBF;--e-global-color-69ff26d1:#929085;--e-global-color-242b2ba9:#91AEEA;--e-global-color-779c2247:#B6B3A8;--e-global-color-299c4fac:#000000;--e-global-color-11d8d7f1:#000000;--e-global-color-28ab03c3:#797564;--e-global-color-b75bc1:#9CC8AD;--e-global-color-71c6753c:#8FBE00;--e-global-color-7827c669:#40C0CB;--e-global-color-4b3fdf4:RGBA(143, 190, 0, 0.75);--e-global-color-74e92f40:#F32656;--e-global-color-34c5f096:#FFD200;--e-global-color-1edb02bd:#407BB2;--e-global-color-736a6ded:#EB0A00;--e-global-color-36bd4593:#000000;--e-global-color-28e7bcd6:#000000;--e-global-color-7ee829df:#0E386E;--e-global-color-6c69be26:#08254A;--e-global-color-3af2ea64:#215598;--e-global-color-321401f6:#FF9600;--e-global-color-72929e71:#05FBFD;--e-global-color-78894fee:#CCCCCC;--e-global-color-76fe184b:#2D56A3;--e-global-color-34c3463:#262626;--e-global-color-749cb679:#000000;--e-global-color-7ca2243b:#000000;--e-global-color-235cbcf4:#A4FF00;--e-global-color-9c43cfa:#E77D24;--e-global-color-96fc0d7:#D75A0D;--e-global-color-d5f5d50:#5DAF39;--e-global-color-6bb80a9:#4992CD;--e-global-color-ca4c118:#819931;--e-global-color-9d8daea:#FDFF82;--e-global-color-0012fd6:#EC174C;--e-global-color-e56371e:#23645F;--e-global-color-e6bb770:#112F2D;--e-global-color-7bd4202:#0F3056;--e-global-color-182c932:#094D72;--e-global-color-caafd9b:#0080FA;--e-global-color-60fd4be:#05196C;--e-global-color-827e298:#AD9B5F;--e-global-color-7d20e8e:#FF0325;--e-global-color-4fa0001:#FF5D2F;--e-global-color-e4a69f6:#646464;--e-global-color-6a165e4:#FFDAC0;--e-global-color-d9125b4:#0371D7;--e-global-color-ee59ede:#29028D;--e-global-color-4be21fa:#0D002F;--e-global-color-57068e0:#FA0D57;--e-global-color-39d5dad:#9C9836;--e-global-color-f401db1:#1D1C04;--e-global-color-eb188c3:#0086D8;--e-global-color-e8cf50b:#9E9480;--e-global-color-070a1f7:#77B1C3;--e-global-color-884846f:#333333;--e-global-color-872d8cd:#666666;--e-global-color-f09468f:#999999;--e-global-color-d3d7e4a:#278ABC;--e-global-color-62f63b7:#6EC1E4;--e-global-color-957a056:#485E88;--e-global-color-a0408d4:#EB008B;--e-global-color-1fc76b1:#A8A690;--e-global-color-53ca22a:#222129;--e-global-color-428fff9:#47A5AE;--e-global-color-ac4abad:#5F63A1;--e-global-color-a54dd88:#FD9696;--e-global-color-d6c2372:#F24D4D;--e-global-color-30c1822:#0F0F0F;--e-global-color-20d1abe:#0B0D12;--e-global-color-560b571:#F4E57D;--e-global-color-d3591b5:#50C6EA;--e-global-color-76c1d9f:#0D0F15;--e-global-color-862194c:#1C1C1C;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-global-typography-5d93e6f-font-family:"Oswald";--e-global-typography-5d93e6f-font-size:20px;--e-global-typography-5d93e6f-font-weight:300;--e-global-typography-048e294-font-family:"Oswald";--e-global-typography-048e294-font-weight:600;--e-global-typography-ebcc6bb-font-family:"Noto Serif";--e-global-typography-ebcc6bb-font-size:34px;--e-global-typography-ebcc6bb-font-weight:400;--e-global-typography-ebcc6bb-line-height:1.5em;--e-global-typography-ae4dd73-font-family:"Noto Serif";--e-global-typography-ae4dd73-font-size:18px;--e-global-typography-ae4dd73-font-weight:400;--e-global-typography-4d3c775-font-family:"Noto Serif";--e-global-typography-4d3c775-font-size:34px;--e-global-typography-4d3c775-font-weight:400;--e-global-typography-4d3c775-text-transform:none;--e-global-typography-4d3c775-font-style:italic;--e-global-typography-4d3c775-line-height:0.5em;font-family:"Roboto";font-size:0.8em;}.elementor-kit-1086 a{font-family:"Roboto";}.elementor-kit-1086 h1{font-family:"Roboto";}.elementor-kit-1086 h2{font-family:"Roboto";}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-lightbox{--lightbox-text-color:#FFFFFF;}.elementor-kit-1086 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-1086{--e-global-typography-ebcc6bb-font-size:25px;--e-global-typography-4d3c775-font-size:22px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-1086{--e-global-typography-ebcc6bb-font-size:22px;--e-global-typography-4d3c775-font-size:20px;--e-global-typography-4d3c775-line-height:1px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}/* Start custom CSS */@font-face {
    font-family: 'Corporate A Condensed';
    src: url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateACon-Reg.eot');
    src: local('Corporate A Condensed Regular'), local('CorporateACon-Reg'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateACon-Reg.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateACon-Reg.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateACon-Reg.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateACon-Reg.svg#CorporateACon-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate S';
    src: url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateS-Regular.eot');
    src: local('Corporate S Regular'), local('CorporateS-Regular'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateS-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateS-Regular.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateS-Regular.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/CorporateACon-Reg/CorporateS-Regular.svg#CorporateS-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext.woff2') format('woff2'),
        url('OpelNext.woff') format('woff');
            src: local('Opel Next'), local('OpelNext'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext.svg#OpelNext') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext-Light.woff2') format('woff2'),
        url('OpelNext-Light.woff') format('woff');
            src: local('OpelNext Light'), local('OpelNext-Light'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.svg#OpelNext-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext-Bold.woff2') format('woff2'),
        url('OpelNext-Bold.woff') format('woff');
            src: local('OpelNext Bold'), local('OpelNext-Bold'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Bold.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Bold.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Bold.svg#OpelNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext-Light.woff2') format('woff2'),
        url('OpelNext-Light.woff') format('woff');
            src: local('Corporate A Condensed Regular'), local('OpelNext-Light'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.eot?#iefix') format('embedded-opentype'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.woff2') format('woff2'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.woff') format('woff'),
        url('https://data.elpais.com.uy/wp-content/uploads/fonts/OpelNext/OpelNext-Light.svg#OpelNext-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.elementor .ads iframe {
    max-width: 1254px;
}

@media (max-width: 968px) {
.elementor .ads iframe {
    max-width: 600px;
}
}

@media (max-width: 650px) {
.elementor .ads iframe {
    max-width: 320px;
}
}
     input.line:focus,
     select.line:focus,
     textarea.line:focus,
     a:focus{
       outline:none !important;
       outline-offset: 0;
     }/* End custom CSS */